* {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  text-decoration: none;
}
body {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Times New Roman', Times, serif;
}
