.topbar {
  position: fixed;
  top: 0;
  height: 64px;
  width: calc(100% - 250px);
  background-color: rgba(39, 109, 171, 0.578);
}
.user-menu,
.user-menu > img,
.user-menu > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.user-menu {
  right: 20px;
  height: 60px;
  cursor: pointer;
  width: 150px;
}

.user-menu > span {
  left: 40px;
}
.user-menu-box {
  position: absolute;
  top: 60px;
  background-color: rgba(46, 43, 160, 0.801);
  border-radius: 10px;
  min-width: 150px;
  padding: 5px;
  right: -250px;
}
.user-menu-box a {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
}
.user-menu-box a:hover {
  background-color: #066eaa;
}
.user-menu:hover > .user-menu-box {
  right: 0;
}
